

:root {
  --main-border-color: #8DC2FF;
  --question-card-color: #8DC2FF;
  --correct-card-color: #4AE19B;
  --incorrect-card-color: #F4C088;
  --main-txt-color: blue;
  --main-padding: 15px;
}


* {
 box-sizing: border-box;
}
body {
  margin: 0;
}

button.switch_modes{

  min-height: 30%;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 10px;
}

button.submit_button {
  height: 3vh;
  background-color: #7ED321;
  border: 2px solid #7ED321;
  border-radius: 9px;
}

button.next_button_correct {
  height: 7vh;
  width: 14vh;
  font-size: 3vh;
  background-color: white;
  border: 2px solid var(--correct-card-color);
  border-radius: 9px;
  font-weight: 600;
  color: var(--correct-card-color);
}

button.next_button_incorrect {
  height: 7vh;
  width: 14vh;
  font-size: 3vh;
  background-color: white;
  border: 2px solid var(--incorrect-card-color);
  border-radius: 9px;
  font-weight: 600;
  color: var(--incorrect-card-color);
}

img.graph_img{
  display: block;
  height: 40vh;
  max-width: 100%;
  padding-bottom: 1vh;


}

img.function_preview{
  padding-top: 0.5vh;
  display: block;
  max-width: 10vh;
}

img.test{
  height: 10vh;
}

/* Cards for MC */
div.card {
  height: 35vh;
  width: 35vh;
  border-radius: 2vh;
}


div.question  {
  background: var(--question-card-color) !important;

}

div.correct   {
  background: var(--correct-card-color);
}

div.incorrect {
  background: var(--incorrect-card-color);
}

/* Spacing */
div.spacing_25p {
  height: calc(35vh/4);
}

div.inner_question {

  width: 35vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-family: Avenir;
  font-weight: 800;
  font-size: 3vh;
}

/* Text */

div.white_text_large {
  color: white;
  font-family: Avenir;
  font-weight: 800;
  font-size: 3vh;
}

div.white_text_med {
  color: white;
  font-family: Avenir;
  font-weight: 400;
  font-size: 2vh;
}

div.white_text_med_small {
  color: white;
  font-family: Avenir;
  font-weight: 400;
  font-size: 1.5vh;
}



div.white_text_small {
  color: white;
  font-family: Avenir;
  font-weight: 400;
  font-size: 1vh;
}


div.blue_text_med {
  color: #4A90E2;
  font-family: Avenir;
  font-weight: 600;
  font-size: 1.8vh;
}


.container-outer { overflow: scroll; width: 500px; height: 10vh; }
.container-inner { width: 90vw; }



form.special_form input{
  text-align: center;
  font-size: 1.5vh;
  height: 3vh;
  width: 10vw;
  background: white;
  border: 2px solid var(--main-border-color);
  border-radius: 9px;
}

#special_form_long_w {
  text-align: center;
  font-size: 1.5vh;
  height: 3vh;
  width: 30vw;
  background: white;
  border: 2px solid var(--main-border-color);
  border-radius: 9px;
}

#center_flex {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#box1 {
  flex-basis: 15% | auto;
  flex-grow: 1.5;
}

#box2 {
  flex-basis: 40% | auto;
  flex-grow: 4;
}

#box3 {
  flex-basis: 35% | auto;
  flex-grow: 3.5;
}

#submit {
  display: flex;
  min-height: calc(30%);
}

#main {
  display: flex;
  min-height: calc(66vh  );
}

#main > article {
  flex: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 1 0vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header, footer, article, nav, aside {
  padding: 1em;
}

header{
  background: #4A90E2;
  height: 13vh;
}

footer {
  background: #4AE29B;
  height: 21vh;
}

article, nav, aside {
  background: #4A90E2;
}
